.navbar.navbar-default.navbar-static-top {
	background-color: #FFFFFF;
	margin-bottom: 0;
	height: 80px;
}

.navbar-header {
	button {
		float: left;
		margin-left: 15px;
	}
}

.navbar-collapse {
	position: relative;
	margin-top: 1%;
}

.logo {
  height: 50px;
  margin-right: 12%;
}
